<div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>О нас</h4>
          <p class="text-body-secondary">Мы магазин с самыми честными ценами во всём мире, наша стратегия крайне проста, мы скупаем у нигеров, происхождение товара нас не интересует, в итоге вы получете оригиналы и бренды прям с полок самых центровых бутиков США. <br>У нас пожизненная гарантия на все товары, только пожалуйтесь и мы тут же пришлём к вам наших нигеров.<br> Ещё ни кто не жаловался, чистейшая репутация, гарантия и самые низкие цены !!!</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
            {% if user.is_authenticated %}
            <p>Добро пожаловать {{user.name}} {{user.email}} !</p>
            {% else %}
            <p>Добро пожаловать на наш сайт!</p>
            {% endif %}
          <ul class="list-unstyled">
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-link nav-link">Выйти
                      </button>
                  </form>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
              </li>
              {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong></strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>